.homepage-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.homepage-content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

@media (max-width: 1200px) {
	.homepage-content {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}
}
