.sidebar {
	background: #151521;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	width: 280px;
	padding: 24px;
	margin-right: 5rem;
	margin-bottom: 5rem;
	gap: 32px;
	border-left: 1px solid #1f1f2f;
}
